<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar
         class="profile-image"></div>
    <mat-card-title>Welcome FDQV</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="toolbar-wrapper">
      <mat-toolbar class="info-bar">
        <span class="subtitle">Your studies</span>
        <span class="example-spacer"></span>
        <button mat-flat-button
                color="primary">Add new study</button>
      </mat-toolbar>
    </div>

    <mat-grid-list cols="3"
                   rowHeight="2:1">
      <mat-grid-tile>
        <info-card studyTitle="CVD"
                   studyId="ID1234-5678"
                   studyName="Study name"
                   studyPhase="Feasibility"
                   studyScenerios="1,2,3"
                   studyDeadline="CVD"></info-card>
      </mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
