<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar
         class="profile-image"></div>
    <mat-card-title>Welcome FDQV</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="toolbar-wrapper">
      <mat-toolbar class="info-bar">
        <span class="subtitle">Your studies</span>
        <span class="example-spacer"></span>
        <button mat-flat-button
                color="primary"
                class="add-new">Add new study</button>
      </mat-toolbar>
    </div>
    <div class="infoCardsContainer">


      <mat-grid-list [cols]="breakpoint"
                     rowHeight="3:2"
                     (window:resize)="handleSize($event)">
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="CVD"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="Obesity"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="Heptic disorders"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="CVD"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="Obesity"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
        <mat-grid-tile><info-card (click)="gotoDetails()"
                     studyTitle="Heptic disorders"
                     studyId="ID1234-5678"
                     studyName="Study name"
                     studyPhase="Feasibility"
                     studyScenerios="1,2,3"
                     studyDeadline="xx/xx-xxxx"></info-card></mat-grid-tile>
      </mat-grid-list>
    </div>


  </mat-card-content>
</mat-card>
