$nas-primary: (
  50 : #e1e3ec,
  100 : #b4bad0,
  200 : #838cb0,
  300 : #515e90,
  400 : #2b3c79,
  500 : #061961,
  600 : #051659,
  700 : #04124f,
  800 : #030e45,
  900 : #020833,
  A100 : #6b73ff,
  A200 : #3843ff,
  A400 : #0513ff,
  A700 : #000deb,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$nas-accent: (
  50 : #fbfcfe,
  100 : #f5f8fd,
  200 : #eef3fc,
  300 : #e7eefb,
  400 : #e1eafa,
  500 : #dce6f9,
  600 : #d8e3f8,
  700 : #d3dff7,
  800 : #cedbf6,
  900 : #c5d5f5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #061961,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$nas-warn: (
  50: #fdede8,
  100: #fbd3c6,
  200: #f9b6a0,
  300: #f69979,
  400: #f4835d,
  500: #f26d40,
  600: #f0653a,
  700: #ee5a32,
  800: #ec502a,
  900: #e83e1c,
  A100: #ffffff,
  A200: #ffedea,
  A400: #ffc1b7,
  A700: #ffab9d,
  contrast: (50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$nas-secondary: (
  50 : #e0e9f5,
  100 : #b3c8e5,
  200 : #80a4d4,
  300 : #4d7fc2,
  400 : #2663b5,
  500 : #0048a8,
  600 : #0041a0,
  700 : #003897,
  800 : #00308d,
  900 : #00217d,
  A100 : #aab9ff,
  A200 : #7790ff,
  A400 : #4466ff,
  A700 : #2a51ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$nas-success: (
  50: #ebf1ef,
  100: #ccdcd7,
  200: #abc5bd,
  300: #89ada3,
  400: #6f9c8f,
  500: #568a7b,
  600: #4f8273,
  700: #457768,
  800: #3c6d5e,
  900: #2b5a4b,
  A100: #a4ffe1,
  A200: #71ffd0,
  A400: #3effbf,
  A700: #25ffb6,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$nas-white: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
