<div class="card-container">
  <mat-card class="info-card">
    <span class="summary-icons">
      <span class="summary-container">
        <mat-icon svgIcon="summary-icon"
                  aria-hidden="false"
                  aria-label="summary-icon">
        </mat-icon>
      </span>
      <span class="summary-text">summary</span>
    </span>
    <mat-card-header>

      <mat-card-title>{{studyTitle}}

      </mat-card-title>
      <mat-card-subtitle>
        <div class="study-info">{{studyId}}</div>
        <div class="study-info">{{studyName}}</div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="study-details">
      <div>Phase: <button class="feasibility-button"
                mat-flat-button
                color="accent">{{studyPhase}}</button></div>
      <div class="study-scenerios">
        Scenerios:
        <span class="button-container">
          <button mat-mini-fab
                  color="warn"
                  class="sceneriosButton">1</button>
        </span>
        <span class="button-container">
          <button mat-mini-fab
                  color="secondary"
                  class="sceneriosButton">2</button>
        </span>
        <span class="button-container">
          <button mat-mini-fab
                  color="primary"
                  class="sceneriosButton">3</button>

        </span>
      </div>
      <div class="study-scenerios">
        Next deadline: {{studyDeadline}} <span class="goto-study">Go to study ></span>
      </div>
    </mat-card-content>

  </mat-card>
</div>
