.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.summary-icons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.summary-text {
  display: block;
  font-size: 11px;
  color: #061961;
}

.summary-container {
  position: relative;
  top: 12px;
  left: 3px;
}

.mat-icon {
  width: 34px;
  height: 34px;
  font-size: 30px;
}

.info-card {
  border-top: 1px solid #263c7c;
  border-left: 30px solid #263c7c;
  border-right: 1px solid #263c7c;
  border-bottom: 1px solid #263c7c;
}

.info-card,
.mat-mdc-card-subtitle {
  background-color: #FFFFFF;
  color: #061961;
}

.mat-mdc-card-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.studyDetails {
  padding-top: 20px;
  font-size: 0.8rem;
  font-weight: normal;
}

.studyInfo {
  display: block;
  font-weight: normal;
  margin-top: 5px;
  font-size: 1.2rem;
}

.feasibilityButton {
  margin-left: 20px;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #061961;
}

.buttonContainer {
  padding: 5px;
}

.studyScenerios {
  margin-top: 10px;
}

.mat-mdc-fab.mat-warn,
.mat-mdc-mini-fab.mat-warn {
  --mat-mdc-fab-color: #fff;
}

.mdc-fab--mini {
  width: 30px;
  height: 30px;
}

.goto-study {
  text-decoration: underline;
  float: right
}

@media only screen and (max-width : 768px) {

  .mat-mdc-card-title {
    font-size: 1.2rem;
  }

  .studyInfo {
    font-size: 0.9rem;
  }

  .studyDetails {
    padding-top: 5px;
    font-size: 0.6rem;
  }
}
